<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="WARN">

    <Appenders>

        <!-- Console Logs -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                pattern="%d{dd-MM-yyyy HH:mm:ss} %-5level %c{1} - %msg%n"/>
        </Console>

        <!-- File Logs -->
        <File
            name="FileLogger"
            fileName="logs/Automation.log"
            append="true">

            <PatternLayout
                pattern="%d{dd-MM-yyyy HH:mm:ss} %-5level %c{1} - %msg%n"/>

        </File>

    </Appenders>

    <Loggers>

        <Root level="info">

            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileLogger"/>

        </Root>

    </Loggers>

</Configuration>